.menu {
text-align: center;
  margin-top: 50px;
}

.box {
  width:27%;
  background-color: gray;
  float: left;
  margin-left: 3%;
}

.box p {
  color: white;
  padding: 2%;
}

.title1 {
border: 1px solid black;
  float: right;
  background-color: #FF007F;
  text-align: center;
  right:0;
  padding: 5px 45px;
  
}

.title h3 {
  
  
}

.title2 {
border: 1px solid black;
  float: right;
  background-color: red;
  text-align: center;
  padding: 5px 15px;
}
.title3 {
border: 1px solid black;
  float: right;
  background-color: yellow;
  text-align: center;
  padding: 5px 15px;
}
