.menu {
text-align: center;
}

.box {
  width:30%;
  background-color: gray;
  float: left;
  padding: 10px;
  margin-left: 1%;
}

.box p {
  color: white;
}

.title1 {
border: 1px solid black;
  float: right;
  background-color: rose;
  text-align: center;
}
.title2 {
border: 1px solid black;
  float: right;
  background-color: red;
  text-align: center;
}
.title3 {
border: 1px solid black;
  float: right;
  background-color: yellow;
  text-align: center;
}
